Saved
Intermediate
Content/StarterContent
Content/*BuiltData.uasset
old
DerivedDataCache/
*.blend1
Content/SkeletalMeshes/SK*.uasset
Content/Textures/T_*.uasset
Content/Animations
Content/Blueprints
Content/BuildingMeshes
Content/Materials
Content/Meshes
Content/Plants
Content/Cinematic/archviz_cine_*.uasset
Content/Cinematic/HandheldShake.uasset
